<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mrchao.ui">

    <application
        android:allowBackup="true"
        android:icon="@drawable/home_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/home_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".lbeguide.LBEEffectActivity"/>
        <activity android:name=".coordinatorlayout.CoordinatorActivity"/>
        <activity android:name=".custombehavior.CustomBehaviorActivity"/>
        <activity android:name=".animator.AnimatorActivity"/>
        <activity android:name=".waterview.WaterViewActivity" />
        <activity android:name=".headparallx.HeadPeaxallActivity" />
        <activity android:name=".discrollview.DiscrollActivity"/>
        <activity android:name=".headparallx2.HeadPeaxallActivity" />
    </application>

</manifest>